<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <title>Login | ATP Analyzer</title>
    
    
    
    
        <link rel="stylesheet" href="atp/app/assets/stylesheets/css/login/style.css">

    
    
    
  </head>

  <body>

    <body>
	<div class="login">
		<div class="login-screen">
			<div class="app-title">
				<img src="css/login/images/logo2.png" width="150" >
			</div>

			<div class="login-form">
				<div class="control-group">
				<input type="text" class="login-field" value="" placeholder="Faculty Code" id="login-name">
				<label class="login-field-icon fui-user" for="login-name"></label>
				</div>

				<div class="control-group">
				<input type="password" class="login-field" value="" placeholder="Password" id="login-pass">
				<label class="login-field-icon fui-lock" for="login-pass"></label>
				</div>

				<a class="btn btn-primary btn-large btn-block" href="#">Login</a>
				<a class="login-link" href="#">Lost your password?</a>
			</div>
		</div>
	</div>
</body>
    
    
    
    
    
  </body>
</html>
